<div class="container">
    <div class="row justify-content-center pb-4">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link">ACTIVE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active">UPCOMMING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">RESULT</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="profile-card-4 text-center">
                <img src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">John Doe
                        <p>@johndoedesigner</p>
                    </div>
                    <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor.</div>
                    <div class="row px-2">
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>TWEETS</p>
                                <h4>1300</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWERS</p>
                                <h4>250</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWING</p>
                                <h4>168</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card-4 text-center">
                <img src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">John Doe
                        <p>@johndoedesigner</p>
                    </div>
                    <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor.</div>
                    <div class="row px-2">
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>TWEETS</p>
                                <h4>1300</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWERS</p>
                                <h4>250</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWING</p>
                                <h4>168</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card-4 text-center">
                <img src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">John Doe
                        <p>@johndoedesigner</p>
                    </div>
                    <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor.</div>
                    <div class="row px-2">
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>TWEETS</p>
                                <h4>1300</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWERS</p>
                                <h4>250</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWING</p>
                                <h4>168</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card-4 text-center">
                <img src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">John Doe
                        <p>@johndoedesigner</p>
                    </div>
                    <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor.</div>
                    <div class="row px-2">
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>TWEETS</p>
                                <h4>1300</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWERS</p>
                                <h4>250</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWING</p>
                                <h4>168</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card-4 text-center">
                <img src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">John Doe
                        <p>@johndoedesigner</p>
                    </div>
                    <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor.</div>
                    <div class="row px-2">
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>TWEETS</p>
                                <h4>1300</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWERS</p>
                                <h4>250</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWING</p>
                                <h4>168</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card-4 text-center">
                <img src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">John Doe
                        <p>@johndoedesigner</p>
                    </div>
                    <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor.</div>
                    <div class="row px-2">
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>TWEETS</p>
                                <h4>1300</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWERS</p>
                                <h4>250</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWING</p>
                                <h4>168</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card-4 text-center">
                <img src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">John Doe
                        <p>@johndoedesigner</p>
                    </div>
                    <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor.</div>
                    <div class="row px-2">
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>TWEETS</p>
                                <h4>1300</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWERS</p>
                                <h4>250</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWING</p>
                                <h4>168</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="profile-card-4 text-center">
                <img src="https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">John Doe
                        <p>@johndoedesigner</p>
                    </div>
                    <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy
                        eirmod tempor.</div>
                    <div class="row px-2">
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>TWEETS</p>
                                <h4>1300</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWERS</p>
                                <h4>250</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 px-1">
                            <div class="profile-overview">
                                <p>FOLLOWING</p>
                                <h4>168</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>