.masthead {
    height: 70vh;
    min-height: 500px;
    background-image: url('https://images.unsplash.com/photo-1567581935884-3349723552ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW9iaWxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1{
    color: white;
  }
  p{
    color: white;
  }